body {
  background-color: #f4f2f2;
}
h1{
  font-family: poppins;
  font-size: 80px;
}
#bloco{
  display: flex;
} 
#texto{
 margin-right: 8%;
 margin-left: 20px;
 text-align: justify;
 line-height: 130%;
 font-family: Arial, Helvetica, sans-serif;
}
h2{
  font-size: 25px;
}
img{
  width: 40%;
  border-radius: 10px;
  border: 2px solid transparent;
  Object-fit: cover;
}


footer {
  background-color: #272727;
  padding: 20px;
  text-align: center; 
  margin-top: 30px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
footer h4{
  font-size: 20px;
}
footer ul {
  list-style: none; 
  padding: 0; 
}
footer li {
  margin: 15px 0; 
}
footer a { /*Link do linkedin*/
  color: white;
  text-decoration: none; 
}


